In [7]:
from models import Classifier, OriginalModel
import pytorch_lightning as pl
import torch
from utils import measure_eval_time
from models import LightningXGBClassifier

In [2]:
model_capgmyo = OriginalModel(8, 16, 8)
classifier = Classifier(model_capgmyo, optim_kwargs={'lr': 0.001, 'weight_decay': 0.0001},
                        monitor='val_accuracy', sched_kwargs={'patience': 4, 'mode': 'max'})

In [3]:
dummy_input = torch.randn(1, 1, 8, 16, dtype=torch.float)

In [4]:
mean, std = measure_eval_time(classifier, dummy_input)
mean, std

(1.264079250494639, 0.08799653820329403)

In [1]:
import pandas as pd
import os
from definitions import PKL_FOLDER

df = pd.read_pickle(os.path.join(PKL_FOLDER, "MyoArmband", "MyoArmband.pkl"))
df

,record,label,series,subject
0,"[[-1.0], [-1.0], [1.0], [-2.0], [-2.0], [-1.0]...",0,0.0,0.0
1,"[[-3.0], [0.0], [-2.0], [-7.0], [-1.0], [-1.0]...",0,0.0,0.0
2,"[[-1.0], [-3.0], [-2.0], [2.0], [-3.0], [-2.0]...",0,0.0,0.0
3,"[[1.0], [-3.0], [1.0], [5.0], [1.0], [-1.0], [...",0,0.0,0.0
4,"[[-2.0], [0.0], [-1.0], [-4.0], [-1.0], [-1.0]...",0,0.0,0.0
...,...,...,...,...
2118870,"[[-5.0], [9.0], [-9.0], [-6.0], [-13.0], [-2.0...",6,2127,0
2118871,"[[7.0], [24.0], [32.0], [-5.0], [14.0], [-4.0]...",6,2127,0
2118872,"[[-6.0], [-7.0], [10.0], [1.0], [-4.0], [-3.0]...",6,2127,0
2118873,"[[-17.0], [29.0], [-5.0], [-6.0], [2.0], [-3.0...",6,2127,0
2118874,"[[10.0], [-30.0], [27.0], [5.0], [-5.0], [-2.0...",6,2127,0

In [9]:
df['series'].value_counts()

1515.0    1038
2102.0    1034
331.0     1006
1843.0    1006
1467.0    1006
          ...
1577.0     788
1586.0     784
1571.0     772
1585.0     770
1591.0     732
Name: series, Length: 2128, dtype: int64

In [10]:
df['series'].value_counts().value_counts()

996     745
1000    664
998     613
999      21
997      16
1002     14
994      13
1006      3
992       3
818       2
810       2
816       2
988       2
1004      2
910       2
790       1
812       1
800       1
1038      1
788       1
784       1
772       1
770       1
822       1
820       1
882       1
824       1
832       1
834       1
838       1
842       1
854       1
1034      1
888       1
922       1
938       1
946       1
952       1
732       1
Name: series, dtype: int64

In [6]:
import numpy as np

a = np.array([[1, 2], [3, 4]])
b = np.array([[5, 6], [7, 8]])
np.stack([a, b])

array([[[1, 2],
        [3, 4]],

       [[5, 6],
        [7, 8]]])